<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Add Category</title>-->
<!--    <style>-->
<!--        body {-->
<!--            font-family: Arial, sans-serif;-->
<!--            background-color: #f2f2f2;-->
<!--            margin: 0;-->
<!--            padding: 0;-->
<!--        }-->

<!--        .container {-->
<!--            max-width: 500px;-->
<!--            margin: 50px auto;-->
<!--            padding: 20px;-->
<!--            background-color: #ffffff;-->
<!--            border-radius: 5px;-->
<!--            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);-->
<!--        }-->

<!--        .container h2 {-->
<!--            text-align: center;-->
<!--            margin-bottom: 20px;-->
<!--        }-->

<!--        .form-group {-->
<!--            margin-bottom: 20px;-->
<!--        }-->

<!--        .form-group label {-->
<!--            display: block;-->
<!--            margin-bottom: 5px;-->
<!--            font-weight: bold;-->
<!--        }-->

<!--        .form-group input[type="text"],-->
<!--        .form-group input[type="email"],-->
<!--        .form-group textarea,-->
<!--        .form-group select {-->
<!--            width: 100%;-->
<!--            padding: 8px;-->
<!--            border: 1px solid #ccc;-->
<!--            border-radius: 4px;-->
<!--            box-sizing: border-box;-->
<!--        }-->

<!--        .form-group textarea {-->
<!--            height: 80px;-->
<!--        }-->

<!--        .form-group select {-->
<!--            height: 34px;-->
<!--        }-->

<!--        .form-group input[type="submit"] {-->
<!--            background-color: #4CAF50;-->
<!--            color: white;-->
<!--            padding: 10px 15px;-->
<!--            border: none;-->
<!--            border-radius: 4px;-->
<!--            cursor: pointer;-->
<!--            float: right;-->
<!--        }-->

<!--        .form-group input[type="submit"]:hover {-->
<!--            background-color: #45a049;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <h2>Form Page</h2>-->
<!--    <form action="/products/add" method="post">-->
<!--        <div class="form-group">-->
<!--            <label for="name">Title:</label>-->
<!--            <input  type="text" id="title" name="title" required>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="name">Desvription:</label>-->
<!--            <input  type="text" id="description" name="description" required>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <input type="submit" value="Submit">-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
</head>
<body>
<div th:include="fragment/header::headerFragment"></div>

<form action="/products/add" method="post" enctype="multipart/form-data">
    <input type="text" name="title"><br>
    <textarea name="description"></textarea><br>
    <input type="text" name="price"><br>
    <select name="category.id">
        <option th:each="category :${categories}"
                th:text="${category.name}" th:value="${category.id}"></option>
    </select><br>
    <input type="file" name="image"><br>



    <input type="submit" value="create">


</form>
</body>
</html>

<!--<div th:each="tag, status:${hashtags}">&ndash;&gt;-->
<!--    &lt;!&ndash;        <span th:text="${tag.name}"></span>&ndash;&gt;-->

<!--    &lt;!&ndash;        <input type="checkbox" th:name="hashtagList[__${status.index}__].id" th:value="${tag.id}">&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>-->